<%
  title  ||= '首页'
  cur    ||= :home
  styles ||= []
  tabs = [
    [:home, [
      ['首页',   admin_url],
    ]],
    [:post, [
      ['文章',   posts_url],
      ['新文章', new_post_url],
      ['管理',   posts_url],
      ['已发布', posts_url(:state => :published)],
      ['草稿',   posts_url(:state => :draft)],
      ['回收站', posts_url(:state => :removed)]
    ]],
    [:category, [
      ['目录',    url_for(:controller => :category)],
      ['新目录',  url_for(:action => :add)],
      ['管理',    url_for(:action => :list)]
    ]]
  ]
  current_tab = tabs.select{|t| t[0]==cur }[0][1]
  sub_tabs = current_tab[1..-1]
  selected_tab = {}
  selected_tab[cur] = 'class="cur"'
%>

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <style>
      @import url(/stylesheets/fy-common.css);
      @import url(/stylesheets/fy-notice.css);
      @import url(/stylesheets/fy-default.css);
      <% for url in styles %>
        @import url(<%=url%>);
      <% end -%>
    </style>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>

    <title><%= title %> - Fy</title>
  </head>
  <body>
    <div id="head">
      <h1 id="name">欢迎，
        <%= link_to @current_user.name -%> |
        <%= link_to '注销', :controller=>:admin, :action=>:logout -%>
      </h1>
      <ul class="nav">
        <%=
          tabs.map do |k, v|
            name, url = v[0]
            "<li><a #{selected_tab[k]} href=\"#{url}\">#{name}</a></li>"
          end
        -%>
      </ul>
      <ul class="nav sub-nav">
        <% for name, url in sub_tabs -%>
          <li><a href="<%=url%>"><%=name%></a></li>
        <% end -%>
      </ul>
    </div>
