<%= fy_head '编辑目录', :category, :styles=>[] %>

<div id="main">
  <h1>目录</h1>

  <%= fy_notice %>

  <div id="left" style="width: 400px; ">

    <div> 
      <% form_for :category, :url=>{:action=>:save}, :html=>{:id=>'category_form'} do |f| %>
        <%= hidden_field_tag :id, @category.id %>
        <p> 
          <label>目录名</label><br/>
          <%= f.text_field :name%>
        </p>
        <p>
          <label>父级目录</label><br/>
          <%= fy_category_select_tag :parent_name, (@category.parent.name rescue '') %>
        </p>
        <p>
        <button>保存</button>
      <% end %>
    </div>

  </div>

  <div id="right" style="width:560px">
  </div>

</div>

<% fy_foot %>

