<%= 
  fy_head '目录', :category, :styles=>['/stylesheets/fy-list.css']
%>

<div id="main">
  <h1>目录</h1>

  <%=fy_notice%>

  <div id="left" style="width:560px">

    <div id="list-main">
      <span class="list-nav">
        <span class="filter"></span>
      </span>

      <table cellspacing="0"> 
        <thead>
          <tr> 
            <th class="select"> <input type="checkbox"></input> </th>
            <th class="name">名字</th>
            <th class="count">文章</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr id="item-<%=category.id%>" 
              class="item item-depth-<%=category.depth%> <%="item-children-of-#{category.parent.id}" rescue 'item-root'%>" 
              valign="top">
              <th> <input type="checkbox"></input> </th>
              <th class="name first">
                <%=h '. . . . '*category.depth %><%=h category.name%>
                <span class="act">
                  <%=link_to '添加', {:action=>:add,     :parent_id=>category.id} %> 
                  <%=link_to '编辑', {:action=>:edit,    :id=>category.id} %> 
                  <%=link_to '删除', {:action=>:rm,      :id=>category.id}, {:confirm=>"真的要删除目录'"+category.name+"'？", :style=>'color:red'} %>
                </span>
              </th>
              <th class="count"><%=category.posts.count%></th>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr> 
            <th id="select"> <input type="checkbox"></input> </th>
            <th class="name">名字</th>
            <th class="count">文章</th>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>

  <div id="right" style="width: 400px; ">

    <div> 
      <% form_for :category, :url=>{:action=>:save}, :html=>{:id=>'category_form'} do |f| %>
        <%= hidden_field_tag :id, @category.id %>
        <p> 
          <label>新建目录名</label><br/>
          <%= f.text_field :name%>
        </p>
        <p>
          <label>父级目录</label><br/>
          <%= fy_category_select_tag :parent_name, (@category.parent.name rescue '') %>
        </p>
        <p>
        <button>保存</button>
      <% end %>
    </div>

  </div>

</div>

<%= render :partial=>'share/foot'%>
