<%= 
  fy_head '目录', :category, :styles=>['/stylesheets/fy-list.css']
%>

<div id="main">
  <h1>目录</h1>

  <%=fy_notice%>

  <div id="left" style="width: 400px; ">

    <!-- TODO: put it aside -->
    <div> 
      <% form_for :category do %>
        <p> 
        <label>目录名</label>
        <input type="text" />
        </p>
        <p>
        <label>父级目录</label>
        <input type="text" />
        </p>
        <p>
        <label>简介</label>
        <input type="text" />
        </p>
        <button>新目录</button>
      <% end %>
    </div>

  </div>

  <div id="right" style="width:560px">

    <div id="list-main">
      <span class="list-nav">
        <span class="filter"></span>
      </span>

      <table cellspacing="0"> 
        <thead>
          <tr> 
            <th class="select"> <input type="checkbox"></input> </th>
            <th class="name">名字</th>
            <th class="count">文章</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr id="item-<%=category.id%>" 
              class="item-depth-<%=category.depth%> <%="item-children-of-#{category.parent.id}" rescue 'item-root'%>" 
              valign="top">
              <th> <input type="checkbox"></input> </th>
              <th class="name first"><%=h category.name%></th>
              <th class="count"><%=category.posts.count%></th>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr> 
            <th id="select"> <input type="checkbox"></input> </th>
            <th class="name">名字</th>
            <th class="count">文章</th>
          </tr>
        </tfoot>
      </table>
    </div>

  </div>

</div>

<%= render :partial=>'share/foot'%>
