<%= 
  title = "目录"
  render :partial => "share/head", :locals => {
    :cur    => :category,
    :title  => title
  }
%>

<style>
  @import url(/stylesheets/fy-list.css);
</style>

<div id="main">
  <h1><%=title%></h1>

  <% if flash[:notice] %>
    <span class="alert"><%=flash[:notice]%></span>
  <% end -%>
  <% (flash[:errors] || []).each do |err| %>
    <span class="alert error"><%=err%></span>
  <% end -%>

  <div id="left" style="width: 400px; ">
    <p> 
      <label>目录名</label>
      <input type="text" />
    </p>
    <p>
      <label>父级目录</label>
      <input type="text" />
    </p>
    <p>
      <label>简介</label>
      <input type="text" />
    </p>
  </div>

  <div id="right" style="width:560px">
    <div id="list-main">

      <span class="list-nav">
        <span class="filter"></span>
      </span>

      <table cellspacing="0"> 
        <thead>
          <tr> 
            <th class="select"> <input type="checkbox"></input> </th>
            <th class="name">名字</th>
            <th class="count">文章</th>
          </tr>
        </thead>
        <tbody>
          <% @categories.each do |category| %>
            <tr valign="top">
              <th> <input type="checkbox"></input> </th>
              <th class="name first"><%=category.name%></th>
              <th class="count"><%=category.posts.count%></th>
            </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr> 
            <th id="select"> <input type="checkbox"></input> </th>
            <th class="name">名字</th>
            <th class="count">文章</th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>

</div>

<%= render :partial=>'share/foot'%>
