<html>
  <head>
    <script></script>
    <style>
      @import url(/stylesheets/fy-common.css);
      @import url(/stylesheets/fy-notice.css);
      @import url(/stylesheets/fy-upload.css);
    </style>
  </head>

  <body>

    <div id="head">
      <a href="/upload/add">上传</a> | 媒体库
    </div>

    <div id="main">
      <span class="notice">
        blah~
      </span>

      <ul id="list_upload">

        <% for u in @uploads%>
        <li>
          <img src="<%=u.attach.url(:thumb)%>" />
          <div class="desc">
            <p>est test test test test test </p>
            <i><%=u.attach.url%></i> <br/> 
            <%=u.attach.size/1000%>kb <br/>
            <i>by</i> <a href="#"><%=%></a>
            <i><%=u.user.name rescue ''%></i>
            <span class="act">
              <a href="">插入</a>
              <a href="">编辑</a>
              <a href="">删除</a>
            </span>
          </div>
        </li>
        <% end %>

      </ul>

    </div>

  </body>
</html>
