<html>
  <head>
    <script></script>
    <style>
      @import url(/stylesheets/fy-common.css);
      @import url(/stylesheets/fy-notice.css);
      @import url(/stylesheets/fy-upload.css);
    </style>
  </head>

  <body>

    <div id="head">
      <a href="/upload/add">上传</a> | 媒体库
    </div>

    <div id="main">
      <%= fy_notice %>

      <ul id="list_upload">

        <% for u in @uploads %>
        <li>
          <img src="<%=u.url(:thumb)%>" />
          <div class="desc">
            <br />
            <i><%=u.basename%></i>    <br/> 
            <%=u.size/1000%>kb   <br/>
            by <i><%=u.user.name rescue ''%></i>
            <span class="act">
              <a href="">插入</a>
              <a href="">编辑</a>
              <%=link_to '删除', {:action=>:rm, :id=>u.id}, {:confirm=>"真的要删除'#{u.attach.url}'？"}%>
            </span>
          </div>
        </li>
        <% end %><%#for%>

      </ul>

    </div>

  </body>
</html>
