<html>
  <head>
    <script></script>
    <style>
      @import url(/stylesheets/fy-common.css);
      @import url(/stylesheets/fy-notice.css);
      @import url(/stylesheets/fy-upload.css);
    </style>
    <script>
      var colorbox = window.parent.fyLightBox;
      var editor   = window.parent.fyMainEditor;
      function lightbox_close(){
        colorbox.close();
      }
      function editor_insert_image(url){
        editor.insertImage(url);
        lightbox_close();
      }
    </script>

    <title>上传</title>
  </head>

  <body>

    <div id="head">
      <a href="/upload/add">上传</a> | 媒体库
    </div>

    <div id="main">
      <%= fy_notice %>

      <ul id="list_upload">

        <% for upload in @uploads %>
        <li>
          <img src="<%=upload.url(:thumb)%>" />
          <div class="desc">
            <span class="title"><%=upload.basename%></i></span> 
            <span class="size"><%=upload.size/1000%>kb</span>
            <span class="misc"><%=upload.created_at%> by <i><%=upload.user.name rescue ''%></i></span>
          </div>
            <span class="act">
              <a href="javascript: editor_insert_image('<%=upload.url%>'); ">插入</a>
              <a href="">编辑</a>
              <%=link_to '删除', {:action=>:rm, :id=>upload.id}, {:style=>'color:red;', :confirm=>"真的要删除'#{upload.basename}'？"}%>
            </span>
        </li>
        <% end %><%#for%>

      </ul>

    </div>

  </body>
</html>
