<%= fy_head '撰写', :post, :styles=>['/stylesheets/fy-post.css'] %>

<!-- about editor -->
<link rel="stylesheet" type="text/css" href="/javascripts/vendor/tinyeditor/style.css" />
<script type="text/javascript" src="/javascripts/vendor/tinyeditor/tinyeditor.js"></script> 
<script type="text/javascript" src="/javascripts/editor.js"> </script>
<!-- about lightbox-->
<link rel="stylesheet" type="text/css" href="/javascripts/vendor/colorbox/colorbox.css" />
<script type="text/javascript" src="/javascripts/vendor/colorbox/jquery.colorbox.js"></script> 
<script>
  $(function(){
    // init lightbox
    $('.show_lightbox').colorbox({
      iframe: true,
      innerWidth: 420,
      innerHeight: 500
    });

    // init editor
    var editor = init_editor('post_content');
    $('#post_form').bind('submit', function(){
      editor.post();
    });

  });

</script>

<div id="main">
  <h1>撰写</h1>

  <%= fy_notice %>

  <% form_for :post, :url => { :action=>:save }, :html => {:id=>'post_form'} do |f| %>
    <%= hidden_field_tag :id, @post.id %>
    <%= hidden_field_tag 'post[state]', @post.state || 'draft' %>

    <div id="left">
      <div class="blc-raw blc-edit">
        <label>标题</label>
        <p>
        <%= f.text_field :title, :class => 'title' %>
        </p>

        <label>内容</label>
        <%= link_to('上传图片', 
                    {:controller=>:upload, :action=>:add, :post_id=>@post.id}, 
                    {:class=>'show_lightbox'}) if @post.id %>
        <p>
        <%= f.text_area :content %>
        </p>

      </div>

      <div class="blc blc-misc">
        <h2>杂项</h2> 
        <div class="content">
        </div>
      </div>

    </div>
    <div id="right">

      <div class="blc blc-publish">
        <h2>发布</h2> 
        <div class="content">
          <p>状态：<%=@post.state%></p>

          <p>
          操作：
          <button>保存</button>
            <span class="act on-eidt">
              <%=link_to('发布', 
                         :action=>:publish, :id=>@post.id) if @post.id %>
              <%=link_to('删除', 
                         {:action=>:rm, :id=>@post.id}, 
                         {:confirm=>"真的要删除文章'#{@post.title}'？", :style=>'color:red'}) if @post.id %>
            </span>
          </p>
        </div>
      </div>

      <div class="blc blc-category">
        <h2>分类</h2> 
        <div class="content">
          <%= fy_category_select_tag :category, (@post.category.name rescue '') %>
        </div>
      </div>
    </div>
  <% end %><%#form%>
</div>

  <%= render :partial=>'share/foot'%>


