<%= fy_head '撰写', :post, :styles=>['/stylesheets/fy-post.css'] %>

<!-- about editor -->
<link rel="stylesheet" type="text/css" href="/javascripts/vendor/tinyeditor/style.css" />
<script type="text/javascript" src="/javascripts/vendor/tinyeditor/tinyeditor.js"></script> 
<script type="text/javascript" src="/javascripts/editor.js"> </script>
<script>
  $(function(){
    var editor = init_editor('post_content');
    $('#post_form').bind('submit', function(){
      editor.post();
    });
  });
</script>

<div id="main">
  <h1>撰写</h1>

  <%= fy_notice %>

  <% form_for :post, :url => { :action=>:save }, :html => {:id=>'post_form'} do |f| %>
    <%= hidden_field_tag :id, @post.id %>
    <%= hidden_field_tag 'post[state]', @post.state || 'draft' %>

    <div id="left">

      <div class="blc-raw">
        <label>标题</label>
        <p>
        <%= f.text_field :title, :class => 'title' %>
        </p>
        <label>内容</label>
        <p>
        <%= f.text_area :content %>
        </p>
      </div>

      <div class="blc blc-upload">
        <h2>上传</h2> 
        <div class="content">
          <form>
            <input type="file" />
            <button>上传</button>
          </form>
          <ul>
            <li>
              <img src="test.jpg" width="50" height="50"></img>
              <div>
                <p>images/test.jpg</p>
                <span>
                  <a href="#">插入</a>
                  <a href="#">编辑</a>
                  <a href="#">删除</a>
                </span>
              </div>
            </li>
          </ul>
        </div>

      </div>

    </div>
    <div id="right">

      <div class="blc blc-publish">
        <h2>发布</h2> 
        <div class="content">
          <p>状态：<%=@post.state%></p>
          <p>操作：
              <button>保存</button>
              <%=link_to '发布', :action=>:publish, :id=>@post.id if @post.id %>
              <%=link_to '删除', {:action=>:rm, :id=>@post.id}, {:confirm=>"你真的要删除文章'"+@post.title+"'么？", :style=>'color:red'} if @post.id %>
          </p>
        </div>
      </div>

      <div class="blc blc-category">
        <h2>分类</h2> 
        <div class="content">
          <%= fy_category_select_tag :category, (@post.category.name rescue '') %>
        </div>
      </div>
    </div>
  <% end %><%#form%>
</div>

<%= render :partial=>'share/foot'%>


