<html>
  <head>
    <script></script>
    <style>
      @import url(/stylesheets/fy-common.css);
      @import url(/stylesheets/fy-notice.css);
      @import url(/stylesheets/fy-attach.css);
    </style>
    <script>
      var colorbox = window.parent.FyLightBox;
      var editor   = window.parent.FyMainEditor;
      function lightbox_close(){
        colorbox.close();
      }
      function editor_insert_image(url){
        editor.insertImage(url);
      }
    </script>

    <title>上传</title>
  </head>

  <body>

    <div id="head">
      <a href="/attach/add/?post_id=<%=params[:post_id]%>">上传</a> |
      <a href="/attach/list/<%=params[:post_id]%>?post_id=<%=params[:post_id]%>">相册(<%=Post.find(params[:post_id]).attaches.size%>)</a> |
      <a href="/attach/list/?post_id=<%=params[:post_id]%>">媒体库</a>
    </div>

    <div id="main">

      <%= fy_notice %>

      <%form_for :attach, :url=>{:action=>:add}, :html=>{:id=>'attach', :multipart => true} do |f| %>
        <%= f.hidden_field :post_id, :value=> @attach.post_id %>
        <%= f.file_field :upload %>
        <button>上传</button>
      <%end%><%#form%>

    </div>

  </body>
</html>
