<div id="main">
  <%= fy_notice %>

  <div id="attaches">
    <% for attach in @attaches %>
      <div class="attach">
        <img src="<%=attach.url(:thumb)%>" />
        <div class="desc">
          <span class="title"><%=attach.basename%></span> 
          <span class="type"><%=attach.content_type%></span> 
          <span class="size"><%=attach.size/1000%>kb </span>
          <span class="misc"><%=attach.created_at%> by <i><%=attach.user.name rescue ''%></i></span>
        </div>
        <span class="act">
          <a href="javascript: editor_insert_image('<%=attach.url%>'); ">插入</a>
          <%=link_to '删除', {:action=>:rm,   :id=>attach.id}, {:style=>'color:red;', :confirm=>"真的要删除'#{attach.basename}'？"}%>
        </span>
      </div>
    <% end %><%#for%>
  </div>

</div>
